# Task - I
### Author: **Allen Ben Philipose**

## Import Libraries

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly_express as px
import matplotlib.pyplot as plt

In [20]:
from sklearn import metrics
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split

In [21]:
import warnings
warnings.filterwarnings('ignore')

## Dataset

In [22]:
allen = pd.read_csv("Dataset.csv")

In [23]:
allen.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [24]:
allen.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [25]:
allen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

## Exploratory Data Analysis

In [29]:
allen_corr = allen.corr()

In [31]:
allen_corr.style.background_gradient(cmap='coolwarm', axis=None)